*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// element html
span{
    color: rgb(226, 43, 214);
}
p{
    margin: 10px 0;
    span{
        font-size: 18px;
        font-weight: 600;
    }
}
.container{
    font-family: sans-serif;
    color: #fff;
    margin: 50px auto;
    background-color: black;
    width: 60%;
    height: 500px;
    display: flex;
}
.bg-img{
    width: 30%;
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
    background-image: url("../assets/images/CarteSerieTv/image.jpg");
    // &:hover{
    //     background-position: 70% center;
    // }
}
.contenueCarte{
    padding: 10px 20px;
    width: 70%;
    img{
        width: 200px;
    }  
    p{
        font-size: 18px;
        padding: 5px 40px 10px 0;
    }
   a{
    text-decoration: none;
   }
}
.btn{
    display: flex;
    
    img{
        width: 24px;
        height: 24px;
    }
}
.rating {
    .star{
        cursor: pointer;
        font-size: 20px;
        margin-right: 10px;
        display: inline-block;
        color: rgba(213, 232, 5, 0.5);
        transition: transform .3s ease-in-out, color .3s;
    }
    .star:hover{
        transform: scale(1.4);
        color: rgba(213, 232, 5, 1);
    }
}

.btn-contenu {
    padding: 5px 10px;
    margin-right: 10px;
    width: 200px;
    display: flex;
    border-radius: 5px;
    border: 2px solid rgb(226, 43, 214);
    img{
        margin: 0 10px;
    }
    button{
        cursor: pointer;
        background-color: transparent;
        outline-offset: none;
        border: none;
        color: #fff;
        font-size: 16px;
    }
}
