$clr-blanch: #f1f1f1;
$clr-primary: #ff5507fc;
$clr-footer: #111;
$clr-primary01: orangered;

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    min-height: 60vh;
    width: 100%;
    background: $clr-primary01;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-blanch;
    font-size: 30px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $clr-footer;
    color: $clr-blanch;
}
.footer-content{
    display: flex;
}
.box{
    flex-basis: 50%;
    padding: 10px 20px;
    h2{
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 600;
    }
}
.box-content{
    margin: 20px 0 0 0;
    text-align: justify;
    &::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: #1a1a1a;
        top: 40px;
    }
    &::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 12%;
        background: $clr-primary01;
        top: 40px;
    }
}
.left{
    .reseaux{
        a{
            display: inline-block;
            margin: 20px 0 0 0;
            color: $clr-blanch;
            padding: 0 2px;
            height: 40px;
            width: 40px;
            background: #1a1a1a;
            line-height: 40px;
            text-align: center;
            transition: background .2s ease-in-out;
            font-size: 18px;
            border-radius: 5px;
            &:hover{
                background: $clr-primary01;
            }
        }
    }
}
.infos{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.center{
    .icons{
        background: #1a1a1a;
        font-size: 1.5rem;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 5px;
        transition:  background .2s ease-in-out;
        cursor: pointer;
        &:hover{
            background: $clr-primary01;
        }
    }
    span{
        font-weight: 500;
        padding-left: 10px;
        font-size: 1rem;
    }
}
.right{
    form{
        .message{
            margin-top: 10px;
        }
    }
}
.right{
    form{
        input,textarea{
            width: 100%;
            font-size: 1.2rem;
            background: #151515;
            outline: none;
            border: 1px solid #222;
            color: $clr-blanch;
            padding: 0.5rem 0;
            padding-left: 10px;
            &:focus{
                outline: 1px solid orange;
            }
        }
        input{
            height: 35px;
        }
        label{
            font-size: 1.06rem;
            margin-bottom: 5px;
            color: #656565;
        }
        button{
            margin-top: 10px;
            height: 40px;
            width: 100%;
            border: none;
            outline: none;
            background: orangered;
            font-weight: 500;
            cursor: pointer;
            color: #f1f1f1;
            transition: .3s ease-in-out;
            &:hover{
                background: orange;
            }
        }
    }
}
.bottom{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #656565;
    a{
        color: orange;
    }
}
@media screen and (max-width: 900px) {
    footer{
        position: relative;
        bottom: 0;
        .footer-content{
            flex-wrap: wrap;
            flex-direction: column;
            .box{
                max-width: 5px 0;
            }
        }
    }
}