@import "variables";
   
html{
    font-family: $font-family-primary;
    font-size: $size-standart;
    color: $lightColor;
}
h2{
    font-size: 1.6rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
span{
    color: $primaryColor;
}
nav{
    padding: 2.9rem $padding-8-100 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    li{
        list-style-type: none;
        display: inline-block;
        margin: 0.8rem 1.5rem;
    }
    a{
        color: $lightColor;
        text-decoration: none;
        text-transform: capitalize;
        transition: .3s;
    }
    a:hover{
        color: $primaryColor;
    }
}
h1{
    font-size: 3.20rem;
    margin: 1.7rem 0 0.3rem;
}
h3{
    font-size: 1.3rem;
    margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: $secondeColor;
}
p{
    color: $secondeColor;
    letter-spacing: 1px;
    line-height: 1.3;
    font-size: 0.9rem;

    // &::first-letter{
    //     font-size: 1.3rem;
    //     font-weight: bold;
    //     color: $primaryColor;
    // }
}
h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
}