// pour les variables (couleurs, tailles, etc.)
// variables de couleurs
$primaryColor: #ff274b;
$secondeColor: #f7bcf7;
$lightColor: #ffffff;
$bgColor-1: #171a1c;
$bgColor-2: #22282a;

// variables de padding en %
$padding-8-100: 8%;

// variables size
$size-standart: 16px;
