@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
}

span {
  color: #ff274b;
}

nav {
  padding: 2.9rem 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}
nav a:hover {
  color: #ff274b;
}

h1, .skills .skills-titre-h1, .services .service-titre-h1, .about .about-titre-h1 {
  font-size: 3.2rem;
  margin: 1.7rem 0 0.3rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 3.5rem;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.12rem;
  color: #f7bcf7;
}

p {
  color: #f7bcf7;
  letter-spacing: 1px;
  line-height: 1.3;
  font-size: 0.9rem;
}

h5 {
  font-size: 1.37rem;
  margin-bottom: 1.5rem;
}

footer {
  padding: 2rem 8%;
  background-color: #171a1c;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------------------------------------
---------------------- la section Home
-------------------------------------------------------*/
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-color: #171a1c;
}

.btn, .btn-down, .btn-sub {
  background-color: #ff274b;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  padding: 0.81rem 1.87rem;
  border: 2px solid transparent;
  transition: 0.3s;
}
.btn:hover, .btn-down:hover, .btn-sub:hover {
  color: #ff274b;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.btn-sub {
  border-radius: 30px 15px 30px 15px;
}

.btn-down {
  border-radius: 30px;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

.container-texts {
  position: relative;
  bottom: 70px;
}

.social {
  margin-top: 3.5rem;
}
.social img {
  margin-right: 1rem;
  width: 2.1rem;
  transition: 0.3s;
}
.social img:hover {
  transform: scale(1.2);
}
.social a {
  text-decoration: none;
}

.container-images {
  width: 45%;
  height: 90%;
  position: relative;
  align-self: flex-end;
}
.container-images img {
  bottom: 0;
  left: 50%;
  height: 100%;
  position: absolute;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.container-images:hover .shape {
  bottom: 40px;
}
.container-images:hover .mypic {
  left: 45%;
}
.container-images img.shape {
  width: 80%;
  height: 100%;
}

/*-------------------------------------------------------
---------------------- la section About
-------------------------------------------------------*/
.about {
  background-color: #22282a;
  padding: 2rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .about-titre-h1 {
  font-weight: bold;
}
.about .container-texts {
  width: 45%;
}

.container-imgs {
  width: 35%;
}
.container-imgs img {
  width: 90%;
}

/*-------------------------------------------------------
---------------------- la section Services
-------------------------------------------------------*/
.services {
  background-color: #171a1c;
  padding: 2rem 8%;
}
.services .service-titre-h1 {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-between;
}
.box .card {
  width: 250px;
  background-color: #22282a;
  border-radius: 20px;
  padding: 1.3rem 2rem;
  text-align: center;
}
.box .card em {
  font-size: 3.12rem;
  text-align: center;
  color: #ff274b;
  margin: 2rem;
}

/*-------------------------------------------------------
---------------------- la section skills
-------------------------------------------------------*/
.skills {
  background-color: #22282a;
  padding: 2rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-titre-h1 {
  font-weight: bold;
}
.skills .container-skills {
  width: 50%;
}

.container-skills {
  width: 35%;
}
.container-skills img {
  width: 90%;
}

.content-skills {
  display: flex;
  flex-wrap: wrap;
}
.content-skills .skill {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 25% 20% 15% 0;
  margin: 0 1.3rem 1.3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------------------------------------
---------------------- la section footer
-------------------------------------------------------*/
.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-footer h2 {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}
.content-footer p {
  color: #ffffff;
  text-align: center;
  width: 500px;
}
.content-footer .end {
  color: #ff274b;
  margin-top: 1rem;
}

/*-------------------------------------------------------
---------------------- menu mobile
-------------------------------------------------------*/
#menu-phone {
  display: none;
  position: relative;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  user-select: none;
  cursor: pointer;
}
#menu-phone span {
  display: block;
  width: 33px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
  transform-origin: 0 0;
  transition: 0.4s;
  margin-bottom: 5px;
}
#menu-phone.is-active span:nth-child(1) {
  transform: translate(0, -2px) rotate(45deg);
}
#menu-phone.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(0px);
}
#menu-phone.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
#menu-phone.is-active span {
  background-color: #ff274b;
}

/*-------------------------------------------------------
---------------------- @ media Queries
-------------------------------------------------------*/
@media only screen and (max-width: 575px) {
  html {
    font-size: 13px;
  }
  .container-images {
    display: none;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: #171a1c;
    z-index: 2;
  }
  nav h2 {
    font-size: 1.1rem;
    margin-left: -20px;
  }
  nav ul {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45vh;
    background-color: #22282a;
    box-shadow: 2px 3px 5px #ffffff;
  }
  nav ul li {
    text-align: center;
    display: block;
    margin: 20px;
  }
  nav ul.is-active {
    display: block;
  }
  nav > a {
    display: none;
  }
  .container-texts {
    bottom: 25px;
  }
  .social {
    margin-top: 4rem;
  }
  h3 {
    margin-bottom: 50px;
  }
  #menu-phone {
    display: block;
  }
  .about {
    justify-content: center;
  }
  .about .container-imgs {
    display: none;
  }
  .about .container-texts {
    width: 100%;
  }
  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .skills .container-imgs {
    display: none;
  }
  .skills .container-skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills .content-skills {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }
  .skills .skill {
    width: 40px;
    height: 40px;
  }
  .content-footer p {
    width: 80%;
  }
}
@media only screen and (min-width: 575px) and (max-width: 767px) {
  html {
    font-size: 13px;
  }
  .container-images {
    display: none;
  }
  .content {
    padding-top: 82px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: #171a1c;
    z-index: 2;
    box-shadow: 2px 3px 5px #ffffff;
  }
  nav h2 {
    font-size: 2.1rem;
    margin-left: -20px;
  }
  nav ul {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45vh;
    background-color: #22282a;
    box-shadow: 2px 3px 5px #ffffff;
  }
  nav ul li {
    text-align: center;
    display: block;
    margin: 20px;
  }
  nav ul.is-active {
    display: block;
  }
  nav > a {
    display: none;
  }
  .container-texts {
    bottom: 25px;
  }
  .social {
    margin-top: 4rem;
  }
  h3 {
    margin-bottom: 50px;
  }
  #menu-phone {
    display: block;
  }
  .about {
    justify-content: center;
  }
  .about .container-imgs {
    display: none;
  }
  .about .container-texts {
    width: 100%;
  }
  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .skills .container-imgs {
    display: none;
  }
  .skills .container-skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills .content-skills {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }
  .skills .skill {
    width: 40px;
    height: 40px;
  }
  .content-footer p {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 13px;
  }
  .container-images {
    display: none;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: #171a1c;
    z-index: 2;
  }
  nav h2 {
    font-size: 1.1rem;
    margin-left: -20px;
  }
  nav ul {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background-color: #22282a;
    box-shadow: 2px 3px 5px #ffffff;
  }
  nav ul li {
    text-align: center;
    display: block;
    margin: 20px;
  }
  nav ul.is-active {
    display: block;
  }
  nav > a {
    display: none;
  }
  .container-texts {
    bottom: 25px;
  }
  .social {
    margin-top: 4rem;
  }
  h3 {
    margin-bottom: 50px;
  }
  #menu-phone {
    display: block;
  }
  .home {
    width: 100%;
    height: 60vh;
  }
  nav h2 {
    font-size: 2.1rem;
    margin-left: -20px;
  }
  .about {
    justify-content: center;
  }
  .about .container-imgs {
    display: none;
  }
  .about .container-texts {
    width: 100%;
  }
  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .skills .container-imgs {
    display: none;
  }
  .skills .container-skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills .content-skills {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }
  .skills .skill {
    width: 40px;
    height: 40px;
  }
  .content-footer p {
    width: 80%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  html {
    font-size: 13px;
  }
  .container-images img {
    width: 100%;
    height: 100%;
  }
  #menu-phone {
    display: block;
    margin-right: 20px;
  }
  .btn-sub {
    margin-right: -320px;
  }
  .content {
    margin-top: 5%;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: #171a1c;
    z-index: 2;
  }
  nav h2 {
    font-size: 1.1rem;
    margin-left: -20px;
  }
  nav ul {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 50%;
    height: 25vh;
    background-color: #22282a;
    box-shadow: 2px 3px 5px #ffffff;
  }
  nav ul li {
    text-align: center;
    display: block;
    margin: 20px;
  }
  nav ul.is-active {
    display: block;
  }
  .container-texts {
    bottom: 25px;
  }
  .social {
    margin-top: 4rem;
  }
  h3 {
    margin-bottom: 50px;
  }
  .home {
    width: 100%;
    height: 60vh;
  }
  nav h2 {
    font-size: 2.1rem;
    margin-left: -20px;
  }
  .about {
    justify-content: center;
  }
  .about .container-texts {
    width: 60%;
  }
  .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .skills .container-skills {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills .content-skills {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }
  .skills .skill {
    width: 40px;
    height: 40px;
  }
  .content-footer p {
    width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
