@import 'fonts';

// Couleurs principales
$white: #FFFFFF;
$light-gray: #E5E5E5;
$orange: #FCA311;
$dark-blue: #14213D;
$black: #000000;

// Espacements
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
